.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  .footerList {
    list-style: none;
    flex-direction: row;
    .fLi {
      color: gainsboro;
      text-decoration: none;
    }
  }
}
